
/* css */

/* COLORS */
/*
blue: #0d71eb
orange: #F36D20
*/

@font-face {
  font-family: 'Oswald';
  src: url('Oswald/Oswald-VariableFont_wght.ttf')
  format('truetype');
}

body {
  font-family: Helvetica, sans-serif;
}

h2 {
  padding-bottom: 20px;
}

h4 {
  padding-bottom: 12px;
}

.white-text {
  color: white;
}

.orange-text {
  color: #F36D20;
}

.center-text {
  text-align: center;
}

.accent-font {
  font-family: 'Oswald', Helvetica, sans-serif;
}

.page-heading {
  background-color: #0d71eb;
  padding-top: 60px
  padding-bottom: 15px;
}

.page-steps {
  padding-top: 35px;
  padding-bottom: 25px;
}

.page-conclusion {
  padding-top: 25px;
  padding-bottom: 25px;
}

.number {
  color: #F36D20;
  font-weight: 500;
}

.img-thumbnail {
  border-color: #0d71eb;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: #F36D20;
  border-radius: 50%;
}

#score-1 {
  padding-top: 25px;
}


.row>.col,
.row>[class^=col-] {
  margin: 10px 0;
  padding-top: .75rem;
  padding-bottom: .75rem;
}
